{% extends 'auth/auth-base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content%}
<body>
  
  <style>
    body{
        background: url("{{ url_for('static',filename='images/john2.jpg') }}") center/cover no-repeat;}
    </style>
<div class="container">
  <div class="row">

    <div class="col-md-2"> </div>

    <div class="col-md-6">
      <!-- Flash message -->
      {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
          </div>

      {% endfor %}
      <!-- Login form  -->

      {{ wtf.quick_form(login_form) }}

      <p style="font-size: 1.9rem; color: rgb(12, 184, 175);"> Don't  have an account?  <a href="{{url_for('auth.register')}}" style="font-size: 2.2rem; color: rgb(18, 86, 175);">Sign up here</a></p>

    </div>

    <div class="col-md-2"> </div>

  </div>
</div>


{%endblock%}

  
</body>