{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}
{% block content %}
<body>
  
  <style>
    body{
        background: url("{{ url_for('static',filename='images/img5.jpg') }}") center/cover no-repeat;}
    </style>

<div class="container-fluid">
  <div class="row comment-area" style="color: rgb(59, 201, 46);">
    <div class="col-md-4">
        <div id="post-title">
          <h2 style="color: rgb(59, 201, 46); text-transform: capitalize;">{{post}}</h2>
        </div style="color: rgb(59, 201, 46);">
          {{ wtf.quick_form(comment_form) }}
      </div>
      <div class="container" id="post-section" style="color: rgb(59, 201, 46);">
        {% for post in comments%}
        <div class="row">
          <h4 class="col-9" style="color: rgb(59, 201, 46); text-transform: uppercase;">{{pitch.title}}</h4>
          <p class="col-4" style="color: rgb(59, 201, 46);">your Comment: {{post.comment}}</p>
          <p class="col-4" style="color: rgb(59, 201, 46);"><b>{{user.username}}</b>'s pitch</p>
        </div>
        {% endfor %}
      </div>
      



  </div>
</div>
{% endblock %}

</body>