{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}


{% block content %}
<body>
  <style>
    body{
        background: url("{{ url_for('static',filename='images/img2.jpg') }}") center/cover no-repeat;}
    </style>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div id="pitch-title">
            <h2>{{title}}</h2>
          </div>              
            {{wtf.quick_form(pitch_form)}}
      </div>
      <div>

{% endblock %}
      </body>
