{% extends 'base.html'%}



{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    {% endblock %}
    {% block scripts%}
    {{ super() }}
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    {% endblock %}
    {% block content %}
    <body>
       
        <style>
        body{
            background: url("{{ url_for('static',filename='images/img3.jpg') }}") center/cover no-repeat;}
        </style>
    <div class="container">
        <div class="row form-group row-cols-1 row-cols-md-3 g-4" style="justify-content: space-evenly;">
    <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-success" style="text-transform: uppercase; font-style: italic;">add pitch</a>
        </div>
      </div><br>

      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; color: rgb(187, 187, 133); font-family: 'Oswald', sans-serif;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 18px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(24, 107, 80); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


      <div class="card" style="width: 26rem;  height: 18rem; background-color: rgb(9, 131, 121); font-size:1.75rem; font-family: 'Oswald', sans-serif; color: rgb(187, 187, 133);">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('main.new_pitch') }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>






            
            </div>
    </div>
</body>


{% endblock %}
