<div class="navbar navbar-inverse" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>

    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav d-inline" >
            <li><a href="/" style="font-size: 18.5px;">Home</a></li>
            <li><a href="/" style="font-size: 18.5px;">picthes</a></li>


        </ul>

<ul class="nav navbar-nav navbar-right d-inline">
    {% if current_user.is_authenticated %}
    <li><a href="{{url_for('main.profile',uname=current_user.username)}}" style="font-size: 18.5px;">Profile</a></li>
    <li><a href="{{url_for('auth.logout')}}" style="font-size: 18.5px;" >Sign out</a></li>
    <li><a  href="{{ url_for('main.new_pitch') }}">New pitch</a></li>
    {% else %}
    <li><a href="{{url_for('auth.login')}}"style="font-size: 18.5px;">Sign in</a></li>
    {%endif%}
  </ul>
</div>



</div>
</div>
